@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: mabry;
    src: url(/MabryPro-Regular.woff) format("woff");
  }
}
